server:
  port: 8080

spring:
  datasource:
    url: jdbc:postgresql://localhost:15432/media_cms
    username: media_user
    password: media_pass
    driver-class-name: org.postgresql.Driver

  jpa:
    hibernate:
      ddl-auto: update
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
    show-sql: true
    open-in-view: false

  data:
    mongodb:
      host: localhost
      port: 27017
      database: media_cms
