server:
  port: 8080

spring:
  datasource:
    url: jdbc:postgresql://localhost:15432/media_cms
    username: media_user
    password: media_pass
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true

  data:
    mongodb:
      host: localhost
      port: 27017
      database: comments_db
      auto-index-creation: true